[submodule "automatic-background-extraction"]
	path = automatic-background-extraction
	url = https://github.com/StanleyLiu17/automatic-background-extraction.git
[submodule "HomographyNet"]
	path = HomographyNet
	url = https://github.com/EdmundDong/HomographyNet.git
[submodule "IPM-Homography"]
	path = IPM-Homography
	url = https://github.com/hamzamuz42/IPM-Homography.git
[submodule "Background-Extraction-From-Video"]
	path = Background-Extraction-From-Video
	url = https://github.com/manthan-pict/Background-Extraction-From-Video.git
